<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
</head>
<body>
<div class="wrapper">
  <div class="topbar">
    <!-- Contenu du menu-top -->
  </div>
  <div class="body-container">
    <div class="sidebar">
      <h2>SCADA-App</h2>
    </div>
    <div class="main-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</body>
</html>
